.visual-wrapper {
    height: 100%;
    width: 100%;
    top: 0;
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: tomato;
}

.button-layout {
    padding-top: 10%;
}

.content-wrapper {
    height: 100%;
    width: 60%;
    font-family: Arial, Helvetica, sans-serif;
    float: right;
    text-align: center;
    background-color: white;
}

.content-layout {
    height: 100%
}

.project-layout {
    height: 1500px
}

.aboutme-layout {
    height: 750px;
}

.aboutme-layout > p {
    font-weight: 500;
    font-size: 24px;
    padding-left: 5%;
    padding-right: 5%;
}

.my-picture {
    text-align: center;
    height: 200px;
    width: 200px;
    padding-top: 6%;
    padding-bottom: 1%
}

.footer {
    text-align: right;
    bottom: 0;
    background-color: thistle;
    width: 100%;
    padding: 0;
}

